<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rabbit">
<xacro:arg name="load_chassis" default="true"/>
<xacro:arg name="load_shooter" default="true"/>

<xacro:if value="$(arg load_chassis)">
        <xacro:include filename="$(find rm_description)/urdf/rabbit/chassis.urdf.xacro"/>
        <xacro:chassis/>
</xacro:if>

    
</robot>